<!DOCTYPE html>
<html>
  <head>
    <title>Tomodomo</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Caveat+Brush" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
